  <div class="container-fluid" style="text-align:center">
  	
  	<h2>Home Page</h2>

  <p>Pannello di controllo del catalogo interattivo.</p>
  	<%= link_to "Gestione Disegni", artworks_path(),  :class=> "btn btn-warning" %>
	<%= link_to "Gestione Categorie", cats_path(),  :class=> "btn btn-warning" %>
	<%= link_to "Catalogo", "/artworks/catalog",  :class=> "btn btn-warning" %>


  </div>
  